@media (prefers-color-scheme: dark) {
  :root,
  body {
    background-color: #000;
  }
}

.ant-layout.light {
  --theme--primary: #1890ff;
  --sider-bg: #f0f0f0;
  --item-bg: white;
  --content-bg: #e8e8e8;
  --content-header-bg: #FAFAFA;
  --text-primary: #2c2c2c;
  --text-gray: #8d8d8d;
  --text-gray-lighter: #b8b8b8;
  --icon-gray: #8d8d8d;
  --icon-pink: #ff5757;
  --button-bg-hover: #f3f8ff;
  --box-shadow: #dcdcdc40;
}

.ant-layout.dark{
  --theme--primary: #1890ff;
  --item-bg: rgb(49, 49, 49);
  --sider-bg: rgb(34, 34, 34);
  --content-bg: rgb(41, 41, 41);
  --content-header-bg: #3a3a3a;
  --text-primary: #dddddd;
  --text-gray: #8d8d8d;
  --text-gray-lighter: #666666;
  --icon-gray: #8d8d8d;
  --icon-pink: #ff5757;
  --button-bg-hover: #3e3e3e;
  --box-shadow: #55555540;
}

/***************************** Framework ********************************/
/* Not for specific elements */


.text-gray {
  color:var(--text-gray);
}

.clear-button {
  border: unset;
  background-color: unset;
}

.list-item-indentation {
  padding: 0 18px;
}

p.list-item-indentation {
  margin-bottom: 3px;
}


/*************************************************************
*********************** Common *******************************
**************************************************************/

/* mainly adapt dark mode color */

.ant-layout-content {
  background-color: var(--sider-bg);
  color: var(--text-primary);
}

button {
  background-color: var(--item-bg);
}

svg {
  color: var(--icon-gray);
}

button:hover svg {
  color: var(--theme--primary);
}

.like svg{
  color: var(--icon-pink);
}

body {
  color: var(--text-primary);
}

.loading-placeholder {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: var(--text-gray-lighter);
  margin-top: 1em;
}

::-webkit-scrollbar
{
    width:6px;
    height:16px;
    background-color:var(--item-bg);
}

::-webkit-scrollbar-thumb
{
    background-color:var(--text-gray-lighter);
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: unset;
  color: var(--text-primary);
  border:unset;
}

/********************************************************************
*************************** Header **********************************
*********************************************************************/

.header {
  display: flex;
  align-items: center;
  background-color: var(--item-bg);
  color: var(--text-primary);
}

.ant-menu {
  background-color: var(--item-bg);
}

.ant-menu-horizontal {
  border-bottom: var(--sider-bg);
}

.ant-menu-horizontal > .ant-menu-item a {
  color: var(--text-primary);
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: var(--theme--primary);
}

.nav-menu {
 flex-grow: 1;
}

.header > button {
  flex-grow: 0;
  padding-right: 1em;
  cursor: pointer;
  font-size: 20px;
}

/**********************************************************************
*********************** Servant Sider *********************************
***********************************************************************/

.ant-layout-sider {
  flex: 0 0 394px !important;
  min-width: 394px !important;
  max-width: 394px !important;
  width: 394px !important;
  height: calc(100vh - 46px);
  background-color: var(--sider-bg);
}

.servant-list-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  flex: 0 0 auto;
  display: flex;
  margin: 6px 5px;
  position: sticky;
  top: 0;
}

.search {
  flex-grow: 1;
  padding: 0 3px;
}

.ant-input {
  background-color: var(--item-bg);
  color: var(--text-primary);
  border: 1px solid var(--text-gray-lighter);
}

.ant-btn {
  background-color: var(--item-bg);
  border-color: var(--text-gray-lighter);
}

.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
  background-color: var(--button-bg-hover);
}

.reload-button {
  margin: 0 0.5em;
  padding: unset;
  flex-grow: 0;
  color: var(--text-gray);
  cursor: pointer;
}

.reload-button:hover {
  color: var(--theme--primary);
}

.servant-list-content {
  overflow-y: scroll;
}

.servant-list-content a {
  color: var(--text-primary);
  cursor: unset;
}

.servant-item-container {
  position: relative;
  background-color: var(--item-bg);
  height: 76px;
  margin: 7px;
}

.servant-item-hover-layer {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px #00000017;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.servant-item-hover-layer:hover {
  box-shadow: 0px 0px 2px 1px var(--theme--primary);
  background-color: var(--button-bg-hover);
}

.servant-item-img-container {
  flex: 0 0 auto;
  width: 55px;
  height: 60px;
  margin-left: 9px;
}

.servant-item-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.servant-item-info {
  height: 60px;
  margin-left: 6px;
  margin-bottom: 5px; /* For visual justify*/
  flex:1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.servant-item-info p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

p.servant-item-info-name {
  padding-bottom: 2px;
}

p.servant-item-info-namejp,
p.servant-item-info-other {
  text-overflow: ellipsis;
  font-size: 13px;
  color: var(--text-gray);
  overflow: hidden;
    height: 1.5em;
}

.servant-item-skills {
  flex: 0 0 auto;
  max-width: 40px;
  color: var(--text-gray);
}

.servant-item-like {
  flex: 0 0 auto;
  flex-grow: 0;
  width: 18px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.15em;
}

/**********************************************************************
******************************* Servant Card *************************
***********************************************************************/

.servant-card {
  border-radius: 5px;
  background-color: var(--content-bg);
  margin: 9px;
  box-shadow: 0px 6px 4px 0px var(--box-shadow);
}

.servant-card-head {
  height: 91px;
  background-color: var(--content-header-bg);
  box-shadow: 0px 2px 2px 0px var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.servant-card-img-container {
  flex: 0 0 auto;
  width: 55px;
  height: 60px;
}

.servant-card-img-container > img {
  height: 100%;
  width: 100%;
}

.servant-card-like {
  flex: 0 0 auto;
  flex-grow: 0;
  width: 18px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.25rem;
}

.servant-card-setting-list {
  margin: 33px 0;
}

p.list-title {
  color: var(--text-gray);
}

.servant-card-setting-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--item-bg);
  height: 45px;
}

.servant-card-icon {
  width: 28px;
  height: 28px;
  object-fit: scale-down;
}

.servant-card-setting-list-item-name{
  flex-grow: 1;
  padding-left: 0.35em;
}

.skill-select {
  width: 58px;
}