.App {
  --theme--primary: #1890ff;
  --card-bg: white;
  --text-primary: #2c2c2c;
  --text-gray: #8d8d8d;
  --text-gray-lighter: #b8b8b8;
  --icon-gray: #8d8d8d;
  --icon-pink: #f78e8e;
  --button-bg-hover: #f3f8ff;
}

/******************************
*********** Common ************
*******************************/

.clear-button {
  border: unset;
  background-color: unset;
}

svg {
  color: var(--icon-gray);
}

svg.like {
  color: var(--icon-pink);
}

button:hover svg {
  color: var(--theme--primary);
}

body {
  color: var(--text-primary);
}

.loading-placeholder {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: var(--text-gray-lighter);
  margin-top: 1em;
}

/******************************
*********** Header ************
*******************************/

.header {
  display: flex;
  align-items: center;
  background-color: white;
}

.nav-menu {
 flex-grow: 1;
}

.header > button {
  flex-grow: 0;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  font-size: 20px;
}

/******************************
*********** Servant Sider *****
*******************************/

.ant-layout-sider {
  flex: 0 0 394px !important;
  min-width: 394px !important;
  max-width: 394px !important;
  width: 394px !important;
  height: calc(100vh - 46px);
  background-color: #f0f0f0;
}

.servant-list-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  flex: 0 0 auto;
  display: flex;
  margin: 6px 5px;
  position: sticky;
  top: 0;
}

.search {
  flex-grow: 1;
  padding: 0 3px;
}

.reload-button {
  margin: 0 0.5em;
  padding: unset;
  flex-grow: 0;
  color: var(--text-gray);
  cursor: pointer;
}

.reload-button:hover {
  color: var(--theme--primary);
}

.servant-list-content {
  overflow-y: scroll;
}

.servant-list-content a {
  color: var(--text-primary);
  cursor: unset;
}

.servant-item-container {
  position: relative;
  background-color: var(--card-bg);
  height: 76px;
  margin: 7px;
}

.servant-item-hover-layer {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px #00000017;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.servant-item-hover-layer:hover {
  box-shadow: 0px 0px 4px 0px var(--theme--primary);
  background-color: var(--button-bg-hover);
}

/* .servant-item-hover-layer::before {
  content: '';
  background-color: var(--button-bg-hover);
  mix-blend-mode: multiply;
  position: absolute;
  transition: width 0.5s;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.servant-item-hover-layer:hover::before {
  width: 100%;
} */

.servant-item-img-container {
  flex: 0 0 auto;
  width: 55px;
  height: 60px;
  margin-left: 9px;
}

.servant-item-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.servant-item-info {
  height: 60px;
  margin-left: 6px;
  margin-bottom: 5px; /* For visual justify*/
  flex:1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.servant-item-info p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

p.servant-item-info-name {
  padding-bottom: 2px;
}

p.servant-item-info-namejp,
p.servant-item-info-other {
  text-overflow: ellipsis;
  font-size: 13px;
  color: var(--text-gray);
  overflow: hidden;
    height: 1.5em;
}

.servant-item-skills {
  flex: 0 0 auto;
  max-width: 40px;
  color: var(--text-gray);
}

.servant-item-like {
  flex: 0 0 auto;
  flex-grow: 0;
  width: 18px;
  margin: 0 10px;
  cursor: pointer;
}

/******************************
*********** Servant Card *****
*******************************/

.servant-card-container {
  background-color: #F0F0F0;
}

.servant-card {
  border-radius: 5px;
  background-color: #f6f6f6;
  margin: 9px;
  box-shadow: 2px 4px 4px 0px #ACACAC40;
}

.servant-card-head {
  height: 91px;
  background-color: #FAFAFA;
  box-shadow: 0px 4px 4px 0px #DCDCDC40;
  display: flex;
  align-items: center;
  padding: auto 28px;
  justify-content: space-between;
}

.servant-card-img-container {
  flex: 0 0 auto;
  width: 55px;
  height: 60px;
}

.servant-card-img-container > img {
  height: 100%;
  width: 100%;
}

.servant-card-setting-list {
  margin: 33px 0;
}

.list-item-indentation {
  padding: 0 18px;
}

p.list-item-indentation {
  margin-bottom: 3px;
}

p.list-title {
  color: var(--text-gray);
}

.servant-card-setting-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--card-bg);
  height: 45px;
}

.servant-card-icon {
  width: 28px;
  height: 28px;
  object-fit: scale-down;
}

.servant-card-setting-list-item-name{
  flex-grow: 1;
  padding-left: 0.35em;
}