body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}

.light {
  --sider-bg: #f0f0f0;
  --sider-bg-darker: #eaeaea;
  --item-bg: #fff;
  --content-bg: #f7f7f7;
  --content-header-bg: #fdfdfd;
  --text-primary: #2c2c2c;
  --text-bold: #333;
  --text-gray: #8d8d8d;
  --text-gray-lighter: #b8b8b8;
  --button-bg-hover: #f3f8ff;
  --underline: #dcdcdc;
  --toolbar-bg: var(--sider-bg);
}
.dark,
.light {
  --theme-primary: #1890ff;
  --icon-gray: #8d8d8d;
  --icon-pink: #ff5757;
  --box-shadow: rgba(0, 0, 0, 0.07058823529411765);
}
.dark {
  --item-bg: #313131;
  --sider-bg: #222;
  --content-bg: #292929;
  --content-header-bg: #3a3a3a;
  --text-primary: #ddd;
  --text-bold: #ddd;
  --text-gray: #8d8d8d;
  --text-gray-lighter: #666;
  --button-bg-hover: #3e3e3e;
  --underline: #464646;
  --toolbar-bg: #292929;
}

/***************************** Frame class ******************************/

.app {
  min-height: 100%;
  background-color: var(--content-bg);
  color: var(--text-primary);
  /* transition: background-color .3s;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-gray {
  color: var(--text-gray);
}
.clear-button {
  border: unset;
  background-color: unset;
}
img {
  object-fit: scale-down;
  position: relative; /*伪元素定位*/
  overflow: hidden;
  font-size: 0.9em;
}
img:after {
  content: attr(alt);
  display: block;
  position: absolute;
  top: 0;
  background-color: var(--sider-bg);
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 0.3em;
  color: var(--text-primary);
  word-break: break-all;
  overflow: hidden;
}
img.small {
  width: 24px;
  height: 24px;
}
img.small:after {
  padding: 0.1em;
  text-align: center;
}
img.medium,
img.medium:after {
  width: 55px;
  height: 60px;
}
input.number {
  border: unset;
  border-bottom: 1px solid var(--underline);
  background-color: unset;
  max-width: 10rem;
}

input.number:hover,
input.number:focus,
input.number:focus-visible {
  outline: unset;
  background-color: var(--item-bg);
  color: var(--text-primary);
  border-bottom: 1px solid var(--theme-primary);
  /* transition: background-color .3s;*/
}
input::placeholder {
  color: var(--text-gray-lighter) !important;
}
.justify-center {
  margin-left: auto;
  margin-right: auto;
}
.list-item-indentation {
  padding: 0 18px;
}
p.list-item-indentation {
  margin-bottom: 3px;
}
p {
  cursor: default;
}

/***********************************************************
*********************************************************** 
*********************** App Common ************************
***********************************************************
***********************************************************/

.app-menu {
  height: 46px;
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
}
.app-content {
  padding-top: 46px;
  overflow-y: hidden;
  background-color: var(--content-bg);
  /* transition: background-color .3s;*/
}

#popover-anchor {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 9;
}
.sider {
  position: fixed;
  width: 374px;
  background-color: var(--sider-bg);
  /* transition: background-color .3s;*/
}
.item-sider {
  background-color: var(--sider-bg);
  /* transition: background-color .3s;*/
}
.content {
  height: 100%;
}
button {
  background-color: var(--item-bg);
  /* transition: background-color .3s;*/
}
svg {
  color: var(--icon-gray);
}
button:hover svg {
  color: var(--theme-primary);
}
button .open svg {
  color: var(--theme-primary);
}
.like svg {
  color: var(--icon-pink);
}
.loading-placeholder {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--text-gray-lighter);
  margin-top: 1em;
}
::-webkit-scrollbar {
  width: 6px;
  height: 16px;
  background-color: var(--item-bg);
  /* transition: background-color .3s;*/
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-gray-lighter);
}
.menu-item {
  flex-grow: 0;
}
.menu-button {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
svg {
  transition: color 0.3s;
}

.menu-button svg {
  font-size: 20px;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}
.servant-list-container {
  min-height: 1440px;
  display: flex;
  flex-direction: column;
}
.servant-list-container .toolbar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  height: 44px;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--sider-bg);
}
.search {
  flex-grow: 1;
  padding: 0 3px 0 8px;
}
.servant-list-container .toolbar button {
  padding: unset;
  padding: 0 0.35em;
  flex-grow: 0;
  color: var(--text-gray);
  cursor: pointer;
}
.servant-list-container .toolbar > button > span {
  vertical-align: middle;
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
}
.servant-list-container .toolbar > button svg {
  font-size: 1rem;
}
.servant-list-container .toolbar > button:first-of-type {
  margin-left: 0.25em;
}
.servant-list-container .toolbar > button:last-of-type {
  padding-right: 1em;
}
.servant-list-container .toolbar > button:hover svg {
  color: var(--theme-primary);
}
.servant-list-container .toolbar > button.filter-like-button:hover svg {
  color: var(--icon-pink);
}

/**********************************************************
*********************************************************** 
****************** Antd restyle ***************************
*********************************************************** 
**********************************************************/

.app .ant-layout-content {
  background-color: var(--content-bg);
  color: var(--text-primary);
  /* transition: background-color .3s;*/
}
.app .ant-menu {
  background-color: var(--item-bg);
}
.app .ant-menu-horizontal {
  border-bottom: 1px solid var(--sider-bg);
}
.app .ant-menu-horizontal > .ant-menu-item a {
  color: var(--text-primary);
}
.app .ant-menu-horizontal > .ant-menu-item-selected a {
  color: var(--theme-primary);
}
.app .ant-input {
  color: var(--text-primary);
  border: 1px solid var(--text-gray-lighter);
}
.app .ant-btn,
.app .ant-input {
  background-color: var(--item-bg);
}
.app .ant-btn {
  border-color: var(--text-gray-lighter);
}
.app .ant-btn:active,
.app .ant-btn:focus,
.app .ant-btn:hover {
  background-color: var(--button-bg-hover);
}
.app .ant-select {
  color: var(--text-primary);
}
.app .ant-select-show-search.ant-select .ant-select-selector {
  background-color: var(--item-bg);
  border-color: var(--text-gray-lighter);
  margin: 0px 13px 0px 8px;
}
.app .ant-popover {
  color: var(--text-primary);
}
.app .ant-popover-arrow-content {
  background-color: var(--content-bg);
}
.app .ant-popover-inner {
  background-color: var(--item-bg);
}
.app .ant-popover-inner-content {
  color: var(--text-primary);
}
.app .ant-popover-inner-content {
  padding: 0;
}

/***********************************************************
***********************************************************
************************ Servant List *********************
***********************************************************
***********************************************************/

.servant-list-content {
  height: calc(100vh - 90px) !important;
  padding-top: 83px;
  overflow-y: scroll;
}
.servant-list-content a {
  color: var(--text-primary);
  cursor: unset;
}
a:hover .sidebar-item-container {
  color: var(--text-primary);
}
.sidebar-item-container {
  position: relative;
  border-radius: 5px;
  background-color: var(--item-bg);
  /* transition: background-color .3s;*/
  height: 76px;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
}
.sidebar-item-hover-layer {
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.09019607843137255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  transition: all 0.2s;
}
.sidebar-item-hover-layer:hover {
  box-shadow: 0 0 2px 1px var(--theme-primary);
  background-color: var(--button-bg-hover);
}
.sidebar-item-img-container {
  flex: 0 0 auto;
  width: 55px;
  height: 60px;
  margin-left: 9px;
}
.sidebar-item-img-container > img {
  border-radius: 6px;
}
.servant-list-filter-container {
  background-color: var(--item-bg);
  color: var(--text-primary);
  margin: 0 7px 0 7px;
  box-shadow: 0 4px 4px 0 var(--box-shadow);
  border-radius: 5px;
  opacity: 0;
  max-height: 0px;
  transition: opacity 0.5s, max-height 0.5s;
  overflow-y: auto;
}
.servant-list-filter-container.open {
  z-index: 2;
  opacity: 1;
  max-height: 190px;
}
.servant-list-filter-container::-webkit-scrollbar {
  display: none;
}
.servant-list-filter {
  margin: 0 auto;
  height: 100%;
}
.servant-list-filter div:first-child {
  background-color: var(--content-bg);
  font-weight: 500;
  color: var(--text-gray);
  padding-left: 18px;
}
.servant-list-filter div:last-child {
  padding: 5px 0;
  padding-left: 12px;
}
.servant-list-filter span {
  display: inline-block;
  padding: 0px 3px;
}
input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
input[type="checkbox"]:checked + label::before {
  content: "\2713";
  background-color: var(--theme-primary);
  font-size: 0.8em;
  line-height: 0.9rem;
  color: white;
  width: 1rem;
  height: 1rem;
}
input[type="checkbox"] + label::before {
  text-align: center;
  content: "\a0";
  display: inline-block;
  border: 1px solid silver;
  width: 1em;
  height: 1em;
  font-weight: bold;
  vertical-align: text-bottom;
  margin-right: 0px;
  margin-bottom: 1px;
}
.servant-list-filter span > label {
  vertical-align: middle;
}

.servant-list-filter span > label > span {
  line-height: 1rem;
}
.popover-opts {
  cursor: default;
  color: var(--text-primary);
  background-color: var(--item-bg);
  padding-bottom: 0.6em;
}
.app .ant-popover-title {
  min-width: unset;
  min-height: unset;
  margin: 0;
  color: var(--text-gray);
  background-color: var(--content-bg);
  font-weight: 500;
  border-bottom: 1px solid var(--underline);
}

.popover-opts > li {
  padding: 0.3em 1em;
  cursor: pointer;
}
.popover-opts > li:hover,
.popover-opts > li.current {
  background-color: var(--button-bg-hover);
}
.popover-opts > li.current {
  color: var(--theme-primary);
}

/***********************************************************
***********************************************************
********************* Servant Card **************************
***********************************************************
***********************************************************/

.servant-item-info {
  margin-left: 6px;
  height: 64px;
  margin-bottom: 2px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.servant-item-info p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
p.servant-item-info-name {
  text-overflow: ellipsis;
  padding-bottom: 2px;
  overflow: hidden;
  height: 26px;
}
p.servant-item-info-namejp,
p.servant-item-info-other {
  text-overflow: ellipsis;
  font-size: 13px;
  color: var(--text-gray);
  overflow: hidden;
  height: 28px;
}
.servant-item-skills {
  font-size: 14px;
  flex: 0 0 auto;
  max-width: 40px;
  color: var(--text-gray);
}
.servant-item-like {
  flex: 0 0 auto;
  flex-grow: 0;
  width: 18px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.15em;
}
.servant-card-container {
  margin-left: 374px;
}
.servant-card {
  border-radius: 5px;
  background-color: var(--content-bg);
  margin-bottom: 9px;
  margin-top: 9px;
  margin-right: auto;
  margin-left: calc(50% - 300px);
  max-width: 600px;
  box-shadow: 0 6px 4px 0 var(--box-shadow);
  transition: margin-left 0.3s;
}
@media screen and (max-width: 974px) {
  .servant-card {
    margin-left: auto;
  }
}
.servant-card.masked {
  margin-left: 0px;
}
.servant-card-head {
  border-radius: 5px 5px 0 0;
  height: 91px;
  background-color: var(--content-header-bg);
  /* transition: background-color .3s;*/
  box-shadow: 0 2px 2px 0 var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.servant-card-img-container {
  flex: 0 0 auto;
  width: 55px;
  height: 60px;
}
.servant-card-img-container > img {
  height: 100%;
  width: 100%;
}
.servant-card-like {
  flex: 0 0 auto;
  flex-grow: 0;
  width: 18px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.25rem;
}

.servant-card-like:hover svg {
  color: var(--icon-pink);
}

.servant-card-setting-list {
  margin: 33px 0;
}
p.list-title {
  color: var(--text-gray);
}
.servant-card-setting-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--item-bg);
  /* transition: background-color .3s; */
  height: 45px;
  cursor: pointer;
}

.servant-card-icon {
  width: 28px;
  height: 28px;
  object-fit: scale-down;
}
.servant-card-setting-list-item-name {
  flex-grow: 1;
  padding-left: 0.35em;
}
.skill-select {
  width: 78px;
}
.skill-select .ant-select-selection-item {
  text-align: right;
}
.skill-select .ant-select-selector {
  align-items: flex-end;
}
.skill-select.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: unset;
  color: var(--text-primary);
  border: unset;
  height: 27px;
}
.skill-select .ant-select-selection-search {
  border-bottom: 1px solid var(--underline);
}

.drawer-content {
  box-shadow: -4px 0 6px 0 var(--box-shadow);
}

.svt-drawer .drawer-content {
  top: 46px;
  height: calc(100% - 46px);
  background-color: var(--content-bg);
  /* transition: background-color .3s;*/
  color: var(--text-primary);
}

.drawer-content .skill-container {
  margin: 20px 18px;
  border: 1px solid var(--sider-bg-darker);
  box-shadow: 0 4px 4px 0 var(--box-shadow);
  background-color: var(--item-bg);
  /* transition: background-color .3s;*/
}

.drawer-content .tab-container {
  margin: 20px 18px -20px 18px;
  color: var(--text-gray);
}
.drawer-content .tab-container > div {
  border: 1px solid var(--sider-bg-darker);
  border-bottom: unset;
  font-size: 0.85rem;
  padding: 2px 5px;
}
.drawer-content .skill-container > .skill-title {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}
.drawer-content .skill-container > .skill-description {
  font-size: 0.9rem;
  padding: 4px 10px;
  background-color: var(--content-bg);
  /* transition: background-color .3s;*/
  border-top: 1px solid var(--sider-bg-darker);
  border-bottom: 1px solid var(--sider-bg-darker);
  text-align: center;
}
.drawer-content .skill-container > .skill-title > span {
  padding-left: 5px;
}
.drawer-content .skill-container > .skill-title > span.cold {
  margin-left: auto;
  font-size: 1rem;
  font-weight: normal;
}
.tab-container > div.current {
  background-color: var(--theme-primary);
  /* transition: background-color .3s;*/
  color: white;
}
.drawer-content h2 {
  margin-top: 30px;
  padding: 0 18px;
  color: var(--text-primary);
}
.itemcost li {
  display: block;
  background-color: var(--item-bg);
  /* transition: background-color .3s;*/
}
.itemcost li > div {
  padding: 0 18px;
}
.itemcost li > div:first-child {
  font-weight: 500;
  background-color: var(--content-bg);
  /* transition: background-color .3s;*/
  border-top: 1px solid var(--sider-bg-darker);
  border-bottom: 1px solid var(--sider-bg-darker);
}
.itemcost li > div:last-child {
  display: flex;
  flex-wrap: wrap;
}
.itemcost li > div:last-child > a {
  margin: 5px 2.5px;
}

.drawer-content nav > li {
  background-color: var(--item-bg);
  transition: background-color 0.3s;
  /* border: 1px solid var(--sider-bg-darker); */
  box-shadow: 0 4px 4px 0 var(--box-shadow);
}
.drawer-content nav > li:first-child {
  border-radius: 0 0 0 6px;
}
.drawer-content nav > li.current {
  background-color: var(--theme-primary);
  color: white;
}

.item-category-container {
  position: fixed;
  height: 100%;
  width: 200px;
  color: var(--text-primary);
  background-color: var(--sider-bg);
  /* transition: background-color .3s;*/
}
.item-category-info {
  margin-left: 6px;
  height: 64px;
  margin-bottom: 2px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-category-info .item-name {
  margin: auto 5px;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-bold);
}

.item-content {
  margin-left: 200px;
}
.item-qp {
  text-align: center;
  padding: 2px 10px;
  display: flex;
  align-items: center;
}
.item-qp > span {
  font-weight: 500;
  padding: 0 3px;
}
.items-container {
  display: flex;
  flex-wrap: wrap;
}
.items-item {
  margin: 7px;
  padding: 7px;
  min-width: 175px;
  height: 76px;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 var(--box-shadow);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.items-item img {
  border-radius: 6px;
}
.items-item,
div.blank-item-placeholder {
  background-color: var(--item-bg);
  color: var(--text-primary);
  flex-grow: 1;
}
div.blank-item-placeholder {
  margin: 9px;
  min-width: 200px;
  height: 0;
}
.items-item-name {
  width: 8em;
  margin-right: auto;
  margin-left: 7px;
}

.items-item-count {
  margin-right: 0.6rem;
}
.items-item-count > input {
  width: 4em;
  text-align: right;
}
.item-drawer.open {
  z-index: 3;
}
.item-drawer .drawer-content {
  padding-top: 46px;
  background-color: var(--item-bg) !important;
  /* transition: background-color .3s;*/
  color: var(--text-primary) !important;
}
.item-drawer .drawer-title {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}
.item-drawer .drawer-title > h3 {
  margin-bottom: 0;
  margin-left: 12px;
  margin-right: auto;
  color: var(--text-primary); /* overwrite antd*/
}
.item-drawer .close-button {
  width: 2em;
  font-size: 1.1em;
  text-align: right;
  cursor: pointer;
}
.item-drawer .close-button:hover svg {
  color: var(--theme-primary);
}
.item-drawer p.list-title {
  margin-bottom: unset;
  padding-left: 18px;
  background-color: var(--content-bg);
  /* transition: background-color .3s;*/
  border-bottom: 1px solid var(--sider-bg);
  cursor: pointer;
}
.item-drawer p.list-title > span {
  float: right;
  margin-right: 18px;
}

.item-drawer p.list-title:hover > span,
.item-drawer p.list-title:hover svg {
  color: var(--theme-primary);
}

.item-drawer p.list-title svg {
  height: 1em;
  vertical-align: text-bottom;
  margin: 0 5px;
}

li.quest {
  display: block;
  padding: 5px 18px;
  border-bottom: 1px solid var(--sider-bg);
}
li.quest .title .ap {
  float: right;
}
li.quest .detail {
  color: var(--text-gray);
  font-size: 0.85em;
}

.statistic-content {
  max-width: 800px;
  color: var(--text-primary);
  margin: 0 auto;
  box-shadow: 2px 4px 4px 0 var(--box-shadow);
  background-color: var(--item-bg);
  /* transition: background-color .3s;*/
}
.statistic-content p.list-title {
  margin-bottom: 0.5em;
  padding-left: 18px;
  background-color: var(--content-bg);
  border-bottom: 1px solid var(--sider-bg);
  /* transition: background-color .3s;*/
}
.statistic-toolbar {
  width: 100%;
  position: fixed;
  z-index: 2; /* overlay relative img*/
  top: 46px;
  left: 0px;
  background-color: var(--toolbar-bg);
  /* transition: background-color .3s;*/
}
.statistic-toolbar-content {
  line-height: 22px;
  text-align: right;
  font-size: 0.9em;
  color: var(--text-gray);
  padding: 2px 7px;
  max-width: 800px;
  margin: 0 auto;
}

.stats-qp {
  background-color: var(--item-bg);
  /* transition: background-color .3s;*/
  text-align: center;
  padding-top: 33px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stats-qp > span {
  padding: 0 10px 0 2px;
}
.stats-qp > div {
  font-size: 0.9em;
}
.stat-items-container {
  width: 100%;
  flex-wrap: wrap;
  padding: 0 10px 1.2em;
}
.stat-items-container,
.stats-item-container {
  display: flex;
  background-color: var(--item-bg);
  /* transition: background-color .3s;*/
}
.stats-item-container {
  height: 72px;
  box-shadow: 0 4px 4px 0 var(--box-shadow);
  min-width: 205px;
  align-items: center;
  color: var(--text-primary);
  flex-grow: 1;
  margin: 3px;
  font-size: 15px;
  padding-left: 7px;
  cursor: pointer;
}
.stats-item-container > img {
  border-radius: 5px;
}
.stats-item-container > p {
  margin-left: 4px;
  margin-bottom: 0;
  margin-right: auto;
  width: 6rem;
}
.stats-item-container .stats-info {
  min-width: 5em;
  margin-right: 7px;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 1px;
  row-gap: 1px;
}
.insufficient {
  color: var(--icon-pink);
}
.stat-svt-container {
  padding: 5px 17px;
  margin-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
}
.stat-svt-container > a {
  margin: 1px;
}

/***********************************************************
***********************************************************
*********************** Mobile ****************************
***********************************************************
***********************************************************/

@media screen and (max-width: 720px) {
  .app {
    font-size: 16px;
  }
  .servant-card-setting-list-item-name {
    font-size: 14px;
  }
  .app .ant-input-search-button {
    height: 35px;
  }
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="datetime"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px !important;
  }
  .app-content {
    width: 100%;
  }
  .menu-button {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .sider {
    width: 100vw;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform 0.2s, -webkit-transform 0.2s;
    z-index: 2;
  }
  .sider.current-page {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .servant-list-content {
    width: 100% !important;
  }
  .servant-list-container .toolbar > button svg {
    font-size: 1.2rem;
  }
  .popover-opts {
    font-size: 1rem;
  }
  .content {
    width: 100vw !important;
    z-index: 1;
  }
  .servant-card-container {
    margin-left: unset;
  }
  .sidebar-item-hover-layer {
    border-radius: 0;
  }
  .item-sider {
    background-color: unset;
    z-index: 2;
    height: 60px;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
    position: fixed;
    top: 46px;
    height: 36px;
    width: 100%;
  }
  .item-category-container {
    width: 100%;
    display: flex;
    height: 36px;
    flex-wrap: wrap;
    background-color: unset;
  }

  .item-category-container > a {
    flex-grow: 1;
  }
  .item-category-container .sidebar-item-container {
    background-color: var(--item-bg);
    height: 1.8rem;
    margin: unset;
    border-radius: unset;
    flex-grow: 1;
    cursor: pointer;
  }
  .item-category-container .sidebar-item-container:hover .item-category-info .item-name {
    color: var(--theme-primary);
  }
  .item-category-container .sidebar-item-hover-layer:hover {
    box-shadow: 0 2px 0 0 var(--theme-primary);
    background-color: unset;
  }
  .item-category-container .item-category-info {
    margin-left: unset;
    height: unset;
    margin-bottom: unset;
    flex: 1 1 auto;
    display: block;
  }
  .item-category-container .item-category-info .item-name {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
  }
  .item-category-container .sidebar-item-container .sidebar-item-img-container {
    display: none;
    width: 0;
    height: 0;
  }
  .item-content {
    margin-top: 36px;
    margin-left: 0;
  }
  .item-qp {
    justify-content: center;
  }
}

/*********************** Animation *****************************/
/* ----------------------------------------------
 * Generated by Animista on 2021-9-12 20:30:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes listdrop {
  0% {
    opacity: 0;
    height: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 190px;
  }
}
@keyframes listdrop {
  0% {
    opacity: 0;
    height: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 190px;
  }
}
@keyframes listback {
  0% {
    opacity: 1;
    height: 190px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
@-webkit-keyframes listback {
  0% {
    opacity: 1;
    height: 190px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
